

body {
    font-family: 'Arial', sans-serif;
    background-image: url(image.background\ pink.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ffa8d6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button.operator {
    background-color: #f44336;
}

button:hover {
    background-color: #dd5fa4;
}

#result {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.btn-close{
    margin-left: -240px;
}